Social Media Assistant/sEyLYqP0QcaApzYd-Daily_Keyword_Based_News_Tracker.json
{
  "name": "Daily Keyword-Based News Tracker",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "fae55a2c-962e-43db-b754-4395064a06c3",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "17-EsdJPMCVIMf9tRP9cUyx9HQnWpUxG3VhBTjDQrYg4",
          "mode": "list",
          "cachedResultName": "n8n DATABASE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17-EsdJPMCVIMf9tRP9cUyx9HQnWpUxG3VhBTjDQrYg4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2027339705,
          "mode": "list",
          "cachedResultName": "Tracker – Keyword-Based News",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17-EsdJPMCVIMf9tRP9cUyx9HQnWpUxG3VhBTjDQrYg4/edit#gid=2027339705"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "STATUS",
              "lookupValue": "Not Sent"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        224,
        0
      ],
      "id": "3f15dfe9-ce40-48eb-8dc4-f49314daacca",
      "name": "Google Sheets"
    },
    {
      "parameters": {
        "jsCode": "const timeZone = \"Europe/Bucharest\";\nconst now = new Date();\nconst today = now.toLocaleDateString(\"en-CA\", { timeZone });\n\nreturn items.filter(item => {\n  const raw = (item.json.DATE || \"\").trim();\n  const normalized = new Date(raw).toLocaleDateString(\"en-CA\", { timeZone });\n  return normalized === today && item.json.STATUS === \"Not Sent\";\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "id": "16ee9b67-dafa-4bfe-8237-6951a69c8211",
      "name": "Code"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.gptPrompt }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        880,
        0
      ],
      "id": "b788a2d7-afb5-4d2a-a764-29b1859b806f",
      "name": "OpenAI"
    },
    {
      "parameters": {
        "sendTo": "balnaityteugne@gmail.com",
        "subject": "Your Daily Topic Briefing",
        "message": "={{ $json.message.content }}",
        "options": {
          "appendAttribution": false,
          "senderName": "Lunaris"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1248,
        0
      ],
      "id": "bb481cfa-bf84-4576-a076-d12fdbd3e924",
      "name": "Gmail",
      "webhookId": "caf0147b-e84f-4e83-b5c2-0f1e4e99d93e"
    },
    {
      "parameters": {
        "jsCode": "const grouped = {};\nconst timeZone = \"Europe/Bucharest\";\n\nfor (const item of items) {\n  const topic = (item.json.TOPIC || \"General\").toUpperCase();\n  if (!grouped[topic]) grouped[topic] = [];\n  grouped[topic].push({\n    title: item.json.TITLE,\n    snippet: item.json.CONTENT || \"(no snippet)\",\n    link: item.json[\"CONTENT LINK\"] || \"\"\n  });\n}\n\nlet prompt = `You are an assistant helping format topic-based news digests for email.\n\nInstructions:\n- Group by topic\n- For each topic, list the most relevant headlines (1 line each)\n- Then summarize the key themes from those posts in 3 short sentences\n- Add a \"Read more\" link for the story below each headline \n- Do NOT add greetings or closings\n\n---\n\nHere is the content grouped by topic:\\n\\n`;\n\nfor (const [topic, posts] of Object.entries(grouped)) {\n  prompt += `<h3>${topic}</h3>\\n<ul>\\n`;\n  for (const post of posts) {\n    const cleanSnippet = post.snippet.replace(/\\s+/g, \" \").trim().slice(0, 200);\n    prompt += `<li><strong>${post.title}:</strong> ${cleanSnippet}</li>\\n`;\n  }\n  const link = posts[0].link || \"#\";\n  prompt += `</ul>\\n<p><a href=\"${link}\" target=\"_blank\">🔗 Read more</a></p>\\n<br>\\n`;\n}\n\nreturn [{ json: { gptPrompt: prompt } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        0
      ],
      "id": "ca149c53-e583-4f39-942b-5bd08402396e",
      "name": "Custom Feed"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "17-EsdJPMCVIMf9tRP9cUyx9HQnWpUxG3VhBTjDQrYg4",
          "mode": "list",
          "cachedResultName": "n8n DATABASE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17-EsdJPMCVIMf9tRP9cUyx9HQnWpUxG3VhBTjDQrYg4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2027339705,
          "mode": "list",
          "cachedResultName": "Tracker – Keyword-Based News",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17-EsdJPMCVIMf9tRP9cUyx9HQnWpUxG3VhBTjDQrYg4/edit#gid=2027339705"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "GUID": "={{ $json.GUID }}",
            "STATUS": "Sent"
          },
          "matchingColumns": [
            "GUID"
          ],
          "schema": [
            {
              "id": "DATE",
              "displayName": "DATE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "TOPIC",
              "displayName": "TOPIC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "TITLE",
              "displayName": "TITLE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "SNIPPET",
              "displayName": "SNIPPET",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CONTENT LINK",
              "displayName": "CONTENT LINK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "GUID",
              "displayName": "GUID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "VIDEOID",
              "displayName": "VIDEOID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1648,
        0
      ],
      "id": "d74074a4-f6d5-426b-8ab9-f83ebb610d27",
      "name": "Google Sheets1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "17-EsdJPMCVIMf9tRP9cUyx9HQnWpUxG3VhBTjDQrYg4",
          "mode": "list",
          "cachedResultName": "n8n DATABASE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17-EsdJPMCVIMf9tRP9cUyx9HQnWpUxG3VhBTjDQrYg4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2027339705,
          "mode": "list",
          "cachedResultName": "Tracker – Keyword-Based News",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17-EsdJPMCVIMf9tRP9cUyx9HQnWpUxG3VhBTjDQrYg4/edit#gid=2027339705"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "STATUS",
              "lookupValue": "Not Sent"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1440,
        0
      ],
      "id": "28068b69-7d95-4491-8827-ca23882fe8b5",
      "name": "Google Sheets2"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Custom Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Custom Feed": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": null
}